% rebase('osnova1.html', podstran='domov')
<section class="well well__offset-3">
	<div class="container">
	<h2><em>Vas zanima kuharija?</em>Iščete navdih za naslednji obrok?</h2>
		<div class="row row__offset-2">
			<div class="grid_6">
				<p class="indents-3">Kolikokrat vam je že krulilo v želodcu, pa niste vedeli, kaj bi dali v lonec? 
				Pobrskajte po naših receptih in gotovo boste našli nekaj zase! <br>
				<br>Prijavite se in prispevajte recepte, ki so vam najbolj pri srcu. 
				Veseli bomo, če se nam pridružite!</p>
				<br><img src="/static/images/pica.jpg" style="width:500px;height:300px;"> 
			</div>
			<div class="grid_6">
				<p class="indents-3">Ali ni lepo, ko vam obrok uspe točno tako, kot ste si ga zamislili? Naši recepti
				vas ne bodo razočarali in verjamemo, da se boste na našo stran večkrat vrnili.<br>
				<br>Za vsakogar se najde kaj okusnega - naši recepti obsegajo najrazličnejše sladice, 
				meso in morsko hrano ter zdrave zelenjavne jedi.</p>
				<br><img src="/static/images/sladica.jpg" style="width:500px;height:300px;">
			</div>
		</div>
	</div>
</section>