% rebase('osnova1.html', podstran='iskanje', prijavljen=prijavljen)
<section class="well well__offset-3">
	<div class="container">
		<h2><em>Ste za nekaj novega?</em>{{prijavljen}} Morda vas prepriča kateri od naslednjih receptov</h2>
		<br>
		%if napaka:
			<p class="opozorilo">{{napaka}}</p>
		%end
		<div class="container">
		%for (id,ime,avtor,vrsta_jedi,cas_priprave,datum_objave,navodilo,tezavnost) in rand_recepti:
			   <td><a href="/recept/{{id}}", class="btn",  style="font-size:170%;">{{ime}}</a></td>
			   <br><br>
			   <td>{{navodilo}}</td>
			   <br>
			   %end
		</div>
		

<h2><em>Preizkusite tudi iskalnik</em>Enostavno brskajte po receptih na naši strani</h2>
	<br>		
</form>
		<div class="grid_5">
                        
                        <form id="contact-form" class='contact-form' action="/">
                            <div class="contact-form-loader"></div>
                            <fieldset>
                                <label class="kljucne">
                                    Ključne besede
                                    <input type="text" name="kljucne" placeholder="" value=""
                                </label><br>
                
                                <label class="recept">
                                    Ime recepta
                                    <input type="text" name="recept" placeholder="" value="">
                                </label><br>
                
                                <label class="sestavina">
                                    Sestavine
                                    <input list="sestavine" name="sestavina">
									<datalist id="browsers">
									<option value="blitva">
									<option value="šetraj">
									<option value="drobnjak">
									<option value="kakav">
									<option value="moka">
									<option value="rožmarin">
									<option value="marmelada">
									<option value="olive">
									<option value="pivo">
									<option value="svinjina">
									<option value="čokolada">
									<option value="margarina">
									<option value="paprika">
									<option value="brinove">
									<option value="rakci">
									<option value="smetana">
									<option value="mleko">
									<option value="čebula">
									<option value="zelje">
									<option value="luštrek">
									<option value="gobe">
									<option value="brokoli">
									<option value="rum">
									<option value="testo">
									<option value="origano">
									<option value="zdrob">
									<option value="meso">
									<option value="cimet">
									<option value="kis">
									<option value="avokado">
									<option value="ingver">
									<option value="jajca">
									<option value="perutnina">
									<option value="maslo">
									<option value="orehi">
									<option value="testenine">
									<option value="ocvirki">
									<option value="list">
									<option value="buča">
									<option value="česen">
									<option value="šparglji">
									<option value="majaron">
									<option value="bučka">
									<option value="jabolka">
									<option value="jagode">
									<option value="govedina">
									<option value="koleraba">
									<option value="vino">
									<option value="sir">
									<option value="kumara">
									<option value="jogurt">
									<option value="korenje">
									<option value="limona">
									<option value="drobtine">
									<option value="mandlji">
									<option value="ribe">
									<option value="por">
									<option value="škrob">
									<option value="šalotka">
									<option value="krompir">
									<option value="vanilija">
									<option value="kvas">
									<option value="olje">
									<option value="kumina">
									<option value="fižol">
									<option value="marelice">
									<option value="sladkor">
									<option value="divjačina">
									<option value="poper">
									<option value="žajbelj">
									<option value="paradižnik">
									<option value="želatina">
									<option value="hruška">
									<option value="timijan">
									<option value="kostanj">
									<option value="peteršilj">
									<option value="skuta">
									<option value="zelena">
									<option value="riž">
									<option value="koruza">
									<option value="bazilika">
									<option value="sol">
									<option value="kruh">
									<option value="pistacija">
									<option value="banana">
									<option value="lovorjev">
									</datalist>
								
                                </label><br>
								
								<tr class="iskanje-vrsta" id="kategorija-vrsta">
									<td class="formular">Vrsta jedi</td>

									<select name="kategorija" class="parent" >
									  <option value="%">vse vrste</option>
									  
									  <option value="1" >sladice</option>
									  
									  <option value="2" >enolončnice</option>
									  
									  <option value="3" >mesne jedi</option>
									  
									  <option value="4" >testenine</option>
									  
									  <option value="5" >prikuhe</option>
									  
									  <option value="6" >zelenjavne jedi</option>
									  
									  <option value="7" >priloge</option>
									  
									  <option value="8" >morska hrana</option>
									  
									  <option value="9" >juhe in zakuhe</option>
									  
									  <option value="10" >predjedi</option>
									  
									  <option value="11" >ozimnica</option>
									  
									  <option value="12" >priloge</option>
									  
									  <option value="13" >kruh</option>
									  
									  <option value="14" >napitki</option>
									  
									  <option value="15" >otroška hrana</option>
									  
									  <option value="16" >solate</option>
									  
									  <option value="17" >jajčne jedi</option>
									  
									  <option value="18" >omake</option>
									  
									  <option value="19" >eksotika</option>
									  
									  <option value="20" >sirove jedi</option>
									  
									  <option value="21" >gobje jedi</option>
									  
									  <option value="22" >ostale jedi</option>
									  
									</select>
									</tr><br>
									<tr class="iskanje-vrsta" id="priloznost-vrsta">
									<td class="formular" >Priložnost</td>
									<td >
											<select name="priloznost">
												<option value="%">vse priložnosti</option>
																				  
												<option value="1" >božič</option>
												  
												<option value="2" >velika noč</option>
												
												<option value="3" >novo leto</option>
												  
												<option value="4" >martinovo</option>
												
												<option value="5" >miklavževo</option>
												  
												<option value="6" >pust</option>
												  
												<option value="7" >rojstni dan otroka</option>
												  
												<option value="8" >valentinovo</option>
												  
											</select>
									
									</td>
								  </tr><br>
								  <tr class="iskanje-vrsta" id="cas-vrsta">
									<td class="formular" >Čas </td>
									<td ><select name="cas" size="1" id="cas"">
									  <option value="0" >ni pomembno</option>
									  
									  <option value="5"  >največ 5 minut</option>
									  
									  <option value="15"  >največ 15 minut</option>
									  
									  <option value="30"  >največ 30 minut</option>
									  
									  <option value="45"  >največ 45 minut</option>
									  
									  <option value="60"  >največ 1 ura</option>
									  
									  <option value="75"  >največ 1 ura in 15 minut</option>
									  
									  <option value="90"  >največ 1 ura in pol</option>
									  
									  <option value="120"  >največ 2 uri</option>
									  
									  <option value="150"  >največ 2 uri in pol</option>
									  
									  <option value="180"  >največ 3 ure</option>
									  
									  <option value="240"  >največ 4 ure</option>
									  
									  </select>
									  </td>
									</tr><br>
									
									<tr class="iskanje-vrsta" id="tezavnost-vrsta">
									<td class="formular" >Težavnost</td>
									<td >
											<select name="tezavnost">
												<option value="%">ni pomembno</option>
																				  
												<option value="1" >1</option>
												  
												<option value="2" >2</option>
												
												<option value="3" >3</option>
												  
												<option value="4" >4</option>
												
												<option value="5" >5</option>
												  
											</select>
									
									</td>
								  </tr><br><br>
								
								<tr>
								  <td class="formular"></td>
								  <td ><input name="receptisplosno" type="submit" class="submit" id="receptisplosno" value="Iskanje" />
								  <input name="sort" type="hidden" value="datum" />
								  <input name="nacin" type="hidden" value="desc" />
								  </td>
								</tr><br><br>
								<button class="button" formaction="/vsi_recepti">Vsi recepti</button>
                            </fieldset>
                        </form>
                    </div>  
			
	</div><br><br>
	
</section>

