<!DOCTYPE html>
<html lang="en">
<head>
    <title>Njam njam OPB</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/grid.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery-migrate-1.2.1.js"></script>

    <!--[if lt IE 9]>
    <html class="lt-ie9">
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a> 
    </div>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
 
    <script src='/static/js/device.min.js'></script> 
</head>

<body>
<div class="page">
    <!--========================================================
                              HEADER
    =========================================================-->
    <header>

        <div id="stuck_container" class="stuck_container">
            <div class="container">

                <div class="brand">
                    <h1 class="brand_name">
                        <a href="/">Njam njam</a>
                    </h1>
                </div>

                <nav class="nav">
                    <ul class="sf-menu">
                        <!--<li>
                            <a href="./">Home</a>
                        </li>-->
                        <li 
						%if (podstran == 'domov'):
						class="active" 
						%end
						>
                            <a href="/">Domov</a>
                        </li>
                        <li 
						%if (podstran == 'iskanje'):
						class="active" 
						%end
						%if (podstran == 'recept'):
						class="active" 
						%end
						>
                            <a href="/iskanje" >Recepti</a>
                        </li>
                        <li
						%if (podstran == 'uporabnik'):
						class="active" 
						%end
						>
                            <a href="/uporabnik">Kuharji</a>
                        </li>
                        <li
						%if (podstran == 'prijava'):
						class="active" 
						%end
						>
                            <a href="/prijava">Prijava</a>
                        </li>
						<li
						%if (podstran == 'dodajanje'):
						class="active" 
						%end
						>
                            <a href="/dodaj_recept">Dodaj recept</a>
                        </li>
						<li
						%if (podstran == 'midva'):
						class="active" 
						%end
						>
                            <a href="/midva">O nama</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </header>
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main>
		{{!base}}

	</main>

    <!--========================================================
                              FOOTER
    =========================================================-->
    <footer>
        <!--<div class="container">
            <ul class="socials">
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-tumblr"></a></li>
                <li><a href="#" class="fa fa-google-plus"></a></li>
            </ul>
            <div class="copyright">© <span id="copyright-year"></span> |
                <a href="#">Privacy Policy</a>
            </div>
        </div>--
        <div class="tm"><a href="#"><img src="/static/images/TM_logo.png" alt=""></a></div>
    </footer>
</div>

<script src="/static/js/script.js"></script>
</body>
</html>