% rebase('osnova1.html', podstran='prijava')
<section class="well well__offset-3">
	<div class="container">
		<h2><em>Pozdravljeni!</em> Tukaj se lahko prijavite!</h2>
		<p style="font-size:160%;"> Članstvo je brezplačno in namenjeno vsem, ki se aktivno vključujejo v kulinarika.net in sodelujejo s pošiljanjem ocen, receptov, mnenjem o receptih, diskusijah v forumih itd. ali pa, če želite imeti možnost shranjevanja zabeležk, priljubljenih receptov, se naročati na izbrane teme ipd.. </p><br>
		
		<div class="nodisplay"> <form action="" method="POST" name="vpis" class="form-dizajn1" id="vpis">
	<fieldset>
		<legend> Vpis </legend><br>
		<table class="SplosnaTabela FullWidth">
		  <tr>
			<td valign="middle" class="formular">Uporabniško
			  ime</td>
			<td valign="top"><input id="varUporabnik" name="varUporabnik" type="text" maxlength="16"  title="Uporabniško ime je najpomembnejši podatek, saj predstavlja vašo javno identifikacijo na portalu.<br />Izberite ga premišljeno! Imeti mora najmanj 4 in največ 16 znakov in se ga kasneje ne da zamenjati." value="" />
			  </td>
		  </tr>
		  <tr>
			<td valign="middle" class="formular"> Geslo</td>
			<td valign="top"><input name="varGeslo" id="varGeslo" type="password" class="boxPadding" maxlength="256" title="Izmislite si zapleteno geslo, ki ne sme biti enako uporabniškemu imenu. Le tako boste omogočili, da bo vaš uporabniški račun na Kulinarika.net varen."/>
		  </td>
		  </tr>
		  <tr>
			<td valign="middle" class="formular"> Ponovite geslo </td>
			<td valign="top"><input type="password" name="varGeslo2" id="varGeslo2" title="Ponovite zgoraj zapisano geslo"/>
			 </td>
		  </tr>
		  <tr>
			<td valign="middle" class="formular"> Vaš
			  e-naslov</td>       
					  <td valign="top"><input  name="email" id="email" type="text" class="boxPadding"  maxlength="256" title="Vpišite veljaven elektronski naslov. Ker boste prejeli aktivacijsko kodo po elektonski pošti, je ključno, da je veljaven." value=""/>
			  </td>
			  
		  </tr>
		  <tr>
			<td valign="middle" class="formular"> Ponovite e- naslov</td>
			<td valign="top"><input name="email2" type="text" class="boxPadding" id="email2" maxlength="256" title="Ponovno vpišite svoj elektronski naslov" value=""/>
			  </td>
		  </tr>
		  
		  </tr>
		</table>

			<input name="Submit" id="submit" type="submit" class="submit" value="Vpiši se" />
		  <input type="hidden" name="aktivacijakoda" />
		  <input type="hidden" name="datumprijave" value="2018-7-24 19:14:52" />
		  <input type="hidden" name="podpis" />
		<input type="hidden" name="MM_insert" value="vpis" />
	  </fieldset>


	</div>
</section>

