% rebase('osnova1.html', podstran='recept')
<section class="well well__offset-3">
	<div class="container">
		%for (ime,avtor,vrsta_jedi,cas_priprave,leto, mesec, dan,navodilo,tezavnost, priloznost, vse_skupaj) in recept:
			<h2>{{ime}}</h2>
			<td style="font-size:200%;"><em>Recept je prispeval: </em> {{avtor}}</td><br>
			<td style="font-size:200%;"><em>Vrsta jedi: </em> {{vrsta_jedi}}</td><br>
			<td style="font-size:200%;"><em>Čas priprave: </em> {{cas_priprave}} minut</td><br>
			<td style="font-size:200%;"><em>Datum objave: </em> {{dan}}. {{mesec}}. {{leto}}</td><br>
			<td style="font-size:200%;"><em>Težavnost: </em> {{tezavnost}}</td><br>
			%if priloznost != None:
				<td style="font-size:200%;"><em>Priložnost: </em> {{priloznost}}</td><br>
			%end
		   	<br>
			<td style="font-size:300%;"><em>Potrebovali boste: </em></td><br>
			%for sestavina in vse_skupaj.split(";"):
			{{sestavina}}<br>
			%end
			<br><br>
			<p style="font-size:160%;"> {{navodilo}} </p>
	
			<br>
		%end
	</div>
</section>

