% rebase('osnova1.html', podstran='uporabnik')
<section class="well well__offset-3">
	<div class="container">
		<h2><em>Uporabniki!</em> </h2>
		<p style="font-size:160%;">Člani so srce naše kulinarike, veliko jih s svojimi mnenji, recepti, nasveti in fotografijami vsakodnevno nesebično prispeva v našo skupno zakladnico znanja. To so njihove predstavitve.</p><br>
			%for (id,ime,datum,opis) in uporabnik:
			<h3 style="font-size:220%;color:red;">{{ime}}</h3><br>
		   <td><em>id: </em> {{id}}</td><br>
		   <td><em>ime: </em> {{ime}}</td><br>
		   <td><em>datum včlanitve: </em> {{datum}}</td><br>
		   <td><em>opis: </em> {{opis}}</td><br>
		    <br>
			%end
	</div>
</section>

